# "맥os나 윈도우에는 보이지 않는 임시파일이 있는데, git은 나의 디렉토리에서 모든 파일을 참조해. 이 경우, 이 파일을 깃허브에 업로드하고 싶지않을때 커밋에서 이 파일을 제외하도록 하면 돼.
# 그래서 .gitignore라는 파일을 만들어. .gitignore는 무시하고 싶은 파일 이름을 기록하는 파일. .DS_Store를 쓰고 저장하면 GitHub Desktop의 커밋에서 .DS_Store가 사라지는 걸 알 수 있어.
.DS_Store

# 원하지 않지만 아래는 스크린샷 파일을 무시할 때.
# /screenshots