#chat-screen {
    background-color: #abc1d1;
    height: 1500vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}

#chat-screen .alt-header {
    top: 2px;
}

